/* CSS Document */

p{
font-family:Verdana, sans-serif;
font-size: 11px;
color: #000000;
line-height: 18px;
padding: 3px;
}

.bold{
font-family: Verdana, sans-serif
font-size: 16px
line-height: 18px
font-weight: bold;
	color: #FFFFFF;
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

.navigation {
	font-family: Verdana, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #000099;
	display: block;
	padding: 8px;
	width: 140px;
}

.navigation2 {
	font-family: Verdana, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #0000FF;
	display: block;
	padding: 8px;
	width: 140px;
}
	